<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>LuminaBar</string>
	<key>CFBundleIdentifier</key>
	<string>dev.pawan.lumina.bar</string>
	<key>CFBundleName</key>
	<string>Lumina</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Lumina controls your Klipsch ProMedia Lumina speakers (volume, EQ, and lighting) over Bluetooth LE.</string>
</dict>
</plist>
